html,body {
	overflow-x: hidden;
	/* Prevent scroll on narrow devices */
	background-color: rgb(244, 244, 244);
}
body{
    font-size:14px;
}
body.homepage{
	padding-top: 100px;
}
.fs-16{
    font-size: 16px !important;
}
.newsitem:nth-last-child(1) {
	margin-bottom:0px !important;
}
.mpointer{
	cursor: pointer;
}
.nlh{
	line-height: 0.5;
}
.cs{
	font-size:15px;
}
.p-15{
	padding-left: 15px;
}
.hide{
	display:none;
}
.bg-dark1{
	background-color: #1c2b36 !important;
}
.darkernavhover .nav-item:hover {
	background-color: #16232d;
	color: #869fb1;
}
.darkernavhover .nav-item.show {
	background-color: #16232d;
}
.lightnavhover .nav-item:hover {
	background-color: #f6f8f8;
}
.lightnavhover .nav-item.show {
	background-color: #f6f8f8;
}
.dropdown-menu{
	margin-top: 0px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.dropdown:hover>.dropdown-menu {
	display: block;
}
@media (min-width: 992px){
	.navbar-expand-lg .navbar-nav .nav-link {
		padding-right: 1rem;
		padding-left: 1rem;
		padding-top: 15px;
		padding-bottom: 15px;
		font-size: 14px;
	}
}
.nav-link {
}
/*.nav-item:hover{
	background: #f6f8f8;
}
.nav-item.show{
	background:red;
}
*/
.btn-trans{
	background: transparent;
	border-color:transparent;
}
.header-search{
	background: #edf1f2;
	border:none;
}
.header-searchcustombtn{
	background:#edf1f2;
}
.nav-m{
	margin-left: 6px;
}
.bg-dark .nav > li > a {
	color: #869fb1;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	color: #495057;
	background-color: #f4f4f4;
	border-color: #dee2e6 #dee2e6 #f4f4f4;
}
.typebadge{
	position: absolute;
	right: 0px;
	bottom: 0px;
	z-index: 1;
	overflow: hidden;
	width: 100px;
	height: 32px;
	text-align: right;
}
.typebadge span{
	font-size: 10px;
	font-weight: bold;
	color: #FFF;
	text-transform: uppercase;
	text-align: center;
	line-height: 20px;
	width: 80px;
	display: block;
	position: absolute;
	top: 12px;
	right: 0px;
}
.smsearchbtn{
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
}
.relativel{
	position: relative;
}
.user-info-wrapper {
	position: relative;
	width: 100%;
	margin-bottom: -1px;
	padding-top: 50px;
	padding-bottom: 20px;
	border: 1px solid #e1e7ec;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	overflow: hidden;
}
.user-info-wrapper .user-cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	background-position: center;
	background-color: rgba(0,0,0,.05);
	background-repeat: no-repeat;
	background-size: cover;
}
.user-info-wrapper .user-info {
	display: table;
	position: relative;
	width: 100%;
	padding: 0 18px;
	z-index: 5;
}
.user-info-wrapper .info-label {
	display: block;
	position: absolute;
	top: 10px;
	right: 10px;
	height: 26px;
	padding: 0 12px;
	border-radius: 13px;
	background-color: #007bff;
	color: #fff;
	font-weight: 700;
	font-size: 12px;
	line-height: 26px;
	box-shadow: 0 1px 5px 0 rgba(0,0,0,0.18);
	cursor: pointer;
}
.user-info-wrapper .user-info .user-avatar {
	position: relative;
	width: 115px;
}
.user-info-wrapper .user-info .user-avatar, .user-info-wrapper .user-info .user-data {
	display: table-cell;
	vertical-align: top;
}
.user-info-wrapper .user-info .user-avatar .edit-avatar {
	display: block;
	position: absolute;
	top: -2px;
	right: 2px;
	width: 36px;
	height: 36px;
	transition: opacity .3s;
	border-radius: 50%;
	background-color: #fff;
	color: #606975;
	line-height: 34px;
	box-shadow: 0 1px 5px 0 rgba(0,0,0,0.2);
	cursor: pointer;
	opacity: 0;
	text-align: center;
	text-decoration: none;
}
.user-info-wrapper .user-info .user-avatar > a > img {
	display: block;
	width: 100px;
	border: 5px solid #fff;
	border-radius: 50%;
}
.user-info-wrapper .user-info .user-data {
	padding-top: 38px;
	padding-left: 5px;
}
.user-info-wrapper .user-info .user-data span {
	display: block;
	color: #9da9b9;
	font-size: 13px;
}
.list-group-item:first-child {
	border-top-left-radius: 0rem;
	border-top-right-radius: 0rem;
}
.no-border{
	border: none !important;
}
.widget-small .icon {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-width: 85px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 20px;
	background-color: #fff;
	border: 1px solid #007bff;
	border-radius: 4px;
	font-size: 2.5rem;
	color: #007bff;
}
.widget-small .info {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	padding-left: 20px;
	-ms-flex-item-align: center;
	align-self: center;
}
.widget-small {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	border-radius: 4px;
}
@media (max-width: 767.98px) {
	.offcanvas-collapse {
		position: fixed;
		top: 56px;
		/* Height of navbar */
		bottom: 0;
		width: 100%;
		padding-right: 1rem;
		padding-left: 1rem;
		overflow-y: auto;
		background-color: var(--gray-dark);
		transition: -webkit-transform .3s ease-in-out;
		transition: transform .3s ease-in-out;
		transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}
	.offcanvas-collapse.open {
		-webkit-transform: translateX(-1rem);
		transform: translateX(-1rem);
		/* Account for horizontal padding on navbar */
	}
}
.nav-scroller {
	position: relative;
	z-index: 2;
	height: 2.75rem;
	overflow-y: hidden;
}
.nav-scroller .nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	padding-bottom: 1rem;
	margin-top: -1px;
	overflow-x: auto;
	color: rgba(255, 255, 255, .75);
	text-align: center;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
}
.nav-underline .nav-link {
	padding-top: .75rem;
	padding-bottom: .75rem;
	font-size: .875rem;
	color: var(--secondary);
}
.nav-underline .nav-link:hover {
	color: var(--gray-dark);
}
.nav-underline .active {
	font-weight: 500;
	color: var(--blue);
}
.text-white-50 {
	color: rgba(255, 255, 255, .5);
}
.bg-purple {
	background-color: var(--purple);
}
.full-width{
	width: 100%;
}
.border-bottom {
	border-bottom: 1px solid #e5e5e5;
}
.box-shadow {
	box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
.box-shadow1{
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
}
.lh-100 {
	line-height: 1;
}
.lh-125 {
	line-height: 1.25;
}
.lh-150 {
	line-height: 1.5;
}
@media screen and (min-width:768px){
	.navbar-brand-centered {
		position: absolute;
		left: 50%;
		display: block;
		width: 160px;
		text-align: center;
		background-color: #eee;
	}
	.navbar>.container .navbar-brand-centered,.navbar>.container-fluid .navbar-brand-centered {
		margin-left: -80px;
	}
}
.off-canvas-panel {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	opacity: 0;
	z-index: 100;
	transform: translateX(-100%);
	transition: transform .2s ease-out, opacity .5s ease-out;
	background-color: #fff;
	box-shadow: 0 0 50px 20px rgba(0, 0, 0, 0.1);
}
@media (min-width: 480px) {
	.off-canvas-panel {
		width: 300px;
		transform: translateX(-300px);
	}
}
.off-canvas-panel.is-visible {
	opacity: 1;
	transform: translateX(0);
}
.off-canvas-panel .btn-lg {
	position: absolute;
	left: 15px;
	right: 15px;
	bottom: 15px;
}
.off-canvas-panel .heading {
	position: relative;
	padding: 15px 0;
	z-index: 3;
	background-color: #fff;
}
.off-canvas-panel p.h3 {
	margin: 0 15px;
}
.btn-close {
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 5;
}
.inner {
	padding: 0 15px 15px;
	height: calc(100% - 120px);
	overflow-y: auto;
}
.js-form {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 60px 15px 20px;
	background-color: #fff;
	overflow: hidden;
	overflow-y: auto;
	opacity: 0;
	transform: translateX(-100%);
	transition: transform .2s ease-in-out, opacity .2s ease-in-out;
}
.js-form.is-visible {
	opacity: 1;
	transform: translateX(0);
}
.btn-back {
	margin-bottom: 10px;
	padding: 0;
	background-color: transparent;
	border: 0;
	color: blue;
}
body > .js-open {
	position: fixed;
	top: 15px;
	right: 15px;
}
header.masthead {
	position: relative;
	background-color: #343a40;
	background: url("../img/bg-masthead.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 8rem;
	padding-bottom: 8rem;
}
header.masthead .overlay {
	position: absolute;
	background-image: linear-gradient(to right, #001e3f 0%, #007BFF 100%);
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	opacity: 0.9;
}
header.masthead h1 {
	font-size: 2rem;
}
@media (min-width: 768px) {
	header.masthead {
		padding-top: 5rem;
		padding-bottom: 5rem;
	}
	header.masthead h1 {
		font-size: 3rem;
	}
}
.subscribe {
	position: relative;
}
.subscribe .form-control, .subscribe .btn {
	height: 45px;
}
.subscribe .form-control {
	border-width: 2px;
	margin-right: 1px;
	border-color: transparent;
	box-shadow: 0 0 40px rgba(0,0,0,.05);
	-webkit-box-shadow: 0 0 40px rgba(0,0,0,.05);
	-moz-box-shadow: 0 0 40px rgba(0,0,0,.05);
	-o-box-shadow: 0 0 40px rgba(0,0,0,.05);
	padding: 30px 25px;
	padding-right: 25px;
	padding-right: 130px;
	border-radius: 30px !important;
	-webkit-border-radius: 30px !important;
	-moz-border-radius: 30px !important;
	-o-border-radius: 30px !important;
	-ms-border-radius: 30px !important;
	display: inline-block;
	width: 100%;
}
.subscribe .btn {
	padding-left: 20px;
	padding-right: 20px;
	position: absolute;
	right: 10px;
	top: 10px;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: .5px;
}
.newsletter-area {
	background-color: #f9f9ff;
}
.newsletter-area .primary-btn {
	border: transparent;
}
.newsletter-area h3 {
	font-size: 36px;
	font-weight: 100;
	color: #222222;
}
.newsletter-area h3 span {
	font-weight: 600;
}
.newsletter-area p {
	margin-top: 3rem;
	font-weight: 300;
}
.newsletter-area .subcribe-form {
	margin-top: 30px;
}
@media (min-width: 991px) {
	.newsletter-area .subcribe-form {
		width: 600px;
	}
}
@media (max-width: 768px) {
	.newsletter-area p {
		margin-top: 120px;
	}
}
@media (max-width: 991px) {
	.subscription {
		margin-top: 20px;
	}
}
.subscription input {
	width: 100%;
	line-height: 50px;
	padding: 0 180px 0 25px;
	border: none;
	background: #fff;
	font-weight: 300;
	color: #000;
}
@media (max-width: 376px) {
	.subscription input {
		width: 80%;
	}
}
.subscription .primary-btn {
	background: #007bff;
	color: #fff;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 25px;
	padding: 5px 25px;
	border: none;
	font-weight: 500;
}
.subscription .info {
	position: absolute;
	top: 60px;
	left: 50%;
	transform: translateX(-50%);
	color: #fff;
	width: 100%;
	font-size: 12px;
}
.subscription .info.valid {
	color: green;
}
.subscription .info.error {
	color: red;
}
@media (max-width: 767px) {
	.subscription input {
		padding: 0 25px;
	}
	.subscription .primary-btn {
		top: 120%;
		transform: translate(50%, 0);
		right: 50%;
		width: 177px;
	}
	.subscription .info {
		top: 110px;
	}
	.newsletter-area {
		padding-bottom: 120px;
	}
}
